body{
    margin: 0;
}

.layout{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
  background-color: #999;
  width: 100%;

  .logo {
    display:flex;
    width: 15%;
    padding-left: 50px;
  }

    a{
    text-decoration: none;
    color: #333;
    }

    li{
        font-size: 20px;
        margin-right: 20px; 
     }

    ul{
        display: flex;
        padding-right: 50px;
        width:100%;
        align-items: center;
        list-style: none; 
    justify-content: flex-end; 
    }
}

.content{
    h1{
        text-align: center;
    }
    p{
        margin: 20px;
    }
}

footer{
    left: 0;
    bottom: 0;
    width: 90%;
    text-align:right;
}