@import url("https://fonts.googleapis.com/css?family=Raleway");


body{
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    background-color: #eee;
    color: #555;
}

.layout{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: #444;
    box-shadow: 10px 0px 30px #555;
  

  .logo {
    display:flex;
    width: 15%;
    padding-left: 50px;
  }

    a{
    text-decoration: none;
    color: #ffd802;
    }

    a:hover{
        color:white;
    }

    li{
        font-size: 20px;
        padding-right: 10px;
        padding-left: 10px; 
        border-left: 1px solid #222;
     }

    ul{
        display: flex;
        padding-right: 50px;
        width:100%;
        align-items: center;
        list-style: none; 
    justify-content: flex-end; 
    }
}

.content{
    h1{
        text-align: center;
    }
    p{
        text-indent: 50px;
    }
}

footer{
    left: 0;
    bottom: 0;
    width: 90%;
    text-align:right;
}